<div class="main-menu-ovrl main-menu-ovrl-hugeinc js-main-menu-ovrl">
    <i class="fa fa-times main-menu-ovrl-close js-main-menu-close"></i>
    <nav>
        <ul>
            {{#foreach navigation}}
                <li>
                    <a href="{{url absolute="true"}}">{{label}}</a>
                </li>
            {{/foreach}}
        </ul>
        <p class="social-media-links">
            <a href="https://www.linkedin.com/in/zpalexander">
                <img src="{{asset "images/linkedin.png"}}" />
            </a>
            <a href="https://github.com/zpalexander">
                <img src="{{asset "images/github.png"}}" />
            </a>
            <a href="http://www.instagram.com/zpalexander">
                <img src="{{asset "images/instagram.png"}}" />
            </a>
            <a href="{{@blog.url}}/rss">
                <img src="{{asset "images/rss.png"}}" />
            </a>
        </p>
    </nav>
</div>
